# Copyright 2016 Cisco Systems, Inc.
# All Rights Reserved.
#
#    Licensed under the Apache License, Version 2.0 (the "License"); you may
#    not use this file except in compliance with the License. You may obtain
#    a copy of the License at
#
#         http://www.apache.org/licenses/LICENSE-2.0
#
#    Unless required by applicable law or agreed to in writing, software
#    distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
#    WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
#    License for the specific language governing permissions and limitations
#    under the License.
#

[Unit]
Description=CPNR DNS Relay Agent
After=syslog.target network.target

[Service]
Type=simple
User=cpnr
Environment="OPTS1=--config-file"
Environment="OPTS2=/etc/neutron/dhcp_agent.ini"
Environment="OPTS3=--log-file"
Environment="OPTS4=/var/log/cpnr/cpnr-dns-relay-agent.log"
ExecStart=/usr/bin/cpnr-dns-relay $OPTS1  $OPTS2 $OPTS3 $OPTS4
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target
